<div class="container">
  <div class="row" >
  <div class="col-sm-3" *ngFor="let pro of product">
    <div class="card">
      <div class="card-body">
        
        <h5 class="card-title">{{pro.productName}}</h5>
        <p class="card-text">{{pro.price}}</p>
        <button *ngIf="pro.purchase === true" class="btn btn-success" (click)="change(pro)">Bought</button>
        <button *ngIf="pro.purchase === false" class="btn btn-primary" (click)="change1(pro)">Buy</button>
      </div>
    </div>
  </div>
  
  <!--<div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>-->
  
</div>
<button routerLink ='/invoice' class="btn btn-primary" (click)="getDataByPurchase" id="submit">Submit</button>
</div>
